<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Spain Trends, Tendencias en España</title>
  <link rel="stylesheet" href="css/yelp.css"/>

  <base href="/app/"/>
</head>
<body class="country-es logged-out ytype borderless jquery">

<div id="super-container">
  <h1 class="ylabel ylabel-large">SpainTrends</h1>
  <div class="media-story">
    <h2 style="color: #3b65a7">La actualidad en España en tiempo real</h2>
    <h2 align="right" style="color: #3b65a7">Real-time trends in Spain</h2>
  </div>

  <span ng-controller="HashTagsCntlr as hashtags">
	  <h2>Hashtags de hoy</h2>
	  <ul class="island-light island">
		<li ng-repeat="h in hashtags_result" ng-animate=" 'animate' ">
			#{{h}}
		</li>
	  </ul>

  </span>
  <br/>
  <span align="right"><a style="cursor:hand" ng-click="show='esp'">Español</span> <a style="cursor:hand" ng-click="show='eng'">English</a></span>
  <br/>
  <span ng-controller="ListEsCntlr as list" ng-show="show=='esp' || !show">
	  <h2>Ultimos Tuits Interesantes</h2>
	  <table class="table table-stripped">

		<tr ng-repeat="l in list" ng-animate=" 'animate' "><td>
			<a href="{{l.long_url}}" target="_blank" alt="{{l.long_url}}">{{l.text}}</a>
		</td></tr>
	  </table>

  </span>

  <span ng-controller="ListEnCntlr as list" ng-show="show=='eng'">
	  <h2>Latest Interesting Tweets</h2>
	  <table class="table table-stripped">

		<tr ng-repeat="l in list" ng-animate=" 'animate' "><td>
			<a href="{{l.long_url}}" target="_blank" alt="{{l.long_url}}">{{l.text}}</a>
		</td></tr>
	  </table>

  </span>

</div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
